.popover-floating {
	padding: 12px;
	border-radius: 8px;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	background-clip: padding-box;
	min-width: 177px;

	.popover-title {
		color: rgba(0, 0, 0, 0.88);
		font-weight: 600;
		margin-bottom: 8px;
	}
}
